.list-main-e-foucs {
	color: #F90020 !important;
}

.list-main-e {
	color: #FBE4E8;
}

.fmovie-main-e-foucs {
    border: 2px solid rgb(255, 0, 42) !important;
    box-shadow: 0 0 5px 5px rgba(255,0,42,0.49) !important;
}

#fmovie-main-move li:hover {
	border: 2px solid rgb(255, 0, 42) !important;
    box-shadow: 0 0 5px 5px rgba(255,0,42,0.49) !important;
}

.tmovie-main-e-foucs {
    border: 2px solid rgb(255, 0, 42) !important;
    box-shadow: 0 0 5px 5px rgba(255,0,42,0.49) !important;
}

#tmovie-main-move li:hover {
	border: 2px solid rgb(255, 0, 42) !important; 
    box-shadow: 0 0 5px 5px rgba(255,0,42,0.49) !important; 
}

.list-main-e:hover {
    color: #F90020 !important;
}

#art-main {
    color:  #FFF;
}

.art-sentence-foucs  {
	color: #F90020 !important;
}